<div class="general-container color-black-background">
    
    <div class="general-divider">
        <div>
            <img alt="logo" src="{{logo}}">
        </div>
        
        <div>
            <h3>Menú</h3>
            <ul>
                <li> Submenú 1</li>
                <li> Submenú 2</li>
                <li> Submenú 3</li>
            </ul>
        </div>
        
        <div>
            <p class="general-text color-white-txt"> Copyright Oficial ©️.</p>
        </div>
    </div>
</div>
