<div class="general-container color-black-background">
    <div class="title-container">
        <h3 class="color-white-txt"> Video</h3>
        <hr>
    </div>
    
    <div class="center-video">
        <iframe
        title="Flores" 
        src="https://www.youtube.com/embed/eKToMG2p9-o" 
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

</div>
