.title-container{

    padding: 30px 0px 20px 30px;
}

hr{
    width: 40px;
    margin-left: 0;
}


.card-container{
    width: 85%;
    border-radius: 15px;
    border: 1px solid #ffffff;
}

.cards-general{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.icons-animals{
    width: 30px;
    height: 30px;
    //margin: 0px 10px;

}
.cardDivision{
    display: grid;
    grid-template-columns: 30% 70%;
}

//Media query
@media (max-width: 479px) and (min-width:320px){
    .cards-general{
        display: block;
    }
    .cardDivision{
        grid-template-columns: 10% 90%;
    }
    .mat-card{
        margin: 10px auto 0px auto;
    }

}
@media (max-width: 749px) and (min-width:480px){
    .cards-general{
        display: block;
    }  
    .cardDivision{
        grid-template-columns: 15% 85%;
    }
    .mat-card{
        margin: 10px auto 0px auto;
    }
}