<div class="color-black-background">
   <div class="title-container">
       <h3 class="color-white-txt">Objetivo</h3>
        <hr>
    </div>
       <div class="cards-general" > 
            <mat-card class="card-container">
                 <div class="cardDivision">
                     <img alt="bat" src="{{iconBat}}" class="icons-animals">

                     <p class="general-text">
                         Bla bla  bla
                     </p>                 
                 </div>
            </mat-card>

            <mat-card class="card-container">
                <div class="cardDivision">
                    <img alt="bee" src="{{iconBee}}" class="icons-animals">

                    <p class="general-text">
                        Bla bla  bla
                    </p>                 
                </div>
           </mat-card>        
        </div>
</div>
