<div class="flotante">
    <!--Menú para móviles-->
    <div *ngIf="isMobile">
        <button class= "btn-menu" mat-button [matMenuTriggerFor]="menu">Menu</button>

        <mat-menu #menu="matMenu">
            <a mat-menu-item href="#HOME"> Inicio </a>
            <a mat-menu-item href="#OBJETIVO"> Objetivo</a>
            <a mat-menu-item href="#QUIENES">¿Quienes Somos?</a>
            <a mat-menu-item href="#VIDEO">Video</a>
            <a mat-menu-item href="#CONTACTO">Contacto</a>

        </mat-menu>
    </div>

    <!--Menú para equipos de cómputo-->
    <div *ngIf="!isMobile" class="general-divider">
        <div>

        </div>

        <div >
            <ul class="menu-divider">
                <li>
                    <a href="#HOME"> Inicio </a>
                </li>
                <li>
                    <a href="#OBJETIVO"> Objetivo</a>
                </li>
                <li>
                    <a href="#QUIENES">¿Quienes Somos?</a>
                </li>
                <li>
                    <a href="#VIDEO">Video</a>
                </li>
                <li>
                    <a href="#CONTACTO">Contacto</a>
                </li>
            </ul>
        </div>

    </div>
</div>    
   
<div>
    <app-home id="HOME"></app-home>
    <app-objetivo id="OBJETIVO"></app-objetivo>
    <app-quienes-somos id="QUIENES"></app-quienes-somos>
    <app-video id="VIDEO"></app-video>
    <app-contacto id="CONTACTO"></app-contacto>
    <app-footer></app-footer>

<router-outlet></router-outlet>
</div>  
