<div class="home-image">

        <div class="text-container color-white-txt">
            <div class="align-div">

            
                <h1>
                    Titulo
                </h1>
            </div>
                <div>
                <!---->
                </div>
        </div>
        <div class="icons-general-container">
            <div class="icons-container">
                <img alt="facebook" src="{{iconFB}}" class="icon-social-media">
                <img alt="instagram" src="{{iconIG}}" class="icon-social-media">
                <img alt="youtube" src="{{iconYT}}" class="icon-social-media">
            </div>
        </div>
</div>
