.home-image {
    background-image: linear-gradient( rgba(72,72,72, 0.4), rgba(72,72,72, 0.4)),url('../../../assets/image/tulipanes.jpg');
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

.text-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.align-div{
    margin: 0% 0% 100%;
}

h1{
    padding-left: 80px;
}

.icons-general-container{
    display: grid;
    justify-items: right;
}

.icons-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.icon-social-media{
    padding: 10x;
    margin: 0px 10px;
    margin-bottom: 0%;
}

//media queries
@media(max-width: 999px) and (min-width: 750px){
    h1{
        padding-left: 50px;
    }  
}
