.contact-image {
    background-image: linear-gradient( rgba(72,72,72, 0.65), rgba(72,72,72, 0.65)),url('../../../assets/image/tulipanes.jpg');
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

.general-container {
    padding: 50px 0px 50px 30px;
}

hr {
    width: 40px;
    margin-left: 0;
}

form{
    display: grid;
}

//Estilos de mat-input

.mat-input-element{
    caret-color: #ffffff;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    color: #ffffff ;
    font-family: 'PoppinsMedium', sans-serif;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline{
    background-color: #DCDCDC;
    
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #DCDCDC;
    font-family: 'PoppinsMedium', sans-serif;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #ffffff;
    
}
input, textarea{
    color: #ffffff ;
    font-size: 13px;
    font-family: 'PoppinsMedium', sans-serif;
}

//Estilo del boton
.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
    background-color: #c1c1c1;
    color: black;
    font-family: 'PoppinsMedium', sans-serif;
    font-size: 13px;
    width: 100%;
}

//estilo iconos 
.icons-general-container{
    display: grid;
    justify-items: center;
}

.icons-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.icon-social-media{
    padding: 10x;
    margin: 0px 10px;
}

.general-divider {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.center-division {
    margin: auto;
}
.center-button{
    display: grid;
    justify-items: center;
}

h4 {
    font-size: 20px;
    color: #ffffff;
    font-family: 'PoppinsSemiBold', sans-serif;
    margin-bottom: 30px;
}


//media queries
@media (max-width: 479px) and (min-width:320px){
    .btn-image{
        min-width: 15px;
        padding: 0px;
    }
    
    .contact-image {
        height: 80vh;
       
    }
    h4 {
        font-size: 13px;
        margin-bottom: 30px;
    }  
    input, textarea{
        
        font-size: 8px;
    } 
    .general-divider{
        display: block;
    }
    form{
        width: 250px;
    }
    .mat-form-field {
        font-size: 8px;
    }
    //Estilo del boton
    .mat-button.mat-primary {
    font-size: 8px;
    width: 70%
    line-height 15px;
    } 
    .division-info{
        margin-top: 15px;
    }
    .icons-general-container{
        margin:0px;
    }

}
@media (max-width: 749px) and (min-width:480px){
    .contact-image {
        height: 130vh;
       
    }
    h4 {
        font-size: 15px;
        margin-bottom: 30px;
    }  
    input, textarea{
        
        font-size: 8px;
    } 
    .mat-form-field {
        font-size: 8px;
    }
   
    .general-divider{
        display: block;
    }
    form{
        width: 300px;
    }
     //Estilo del boton
    .mat-button.mat-primary {
    font-size: 8px;
    width: 70%
    line-height 15px;
    }
    .division-info{
        margin-top: 15px;
    }
    .icons-general-container{
        margin:0px;
    }
}
@media(max-width: 999px) and (min-width: 750px){
    .contact-image {
        height: 45vh;
       
    }
    h4 {
        font-size: 15px;
        margin-bottom: 30px;
    }  
    input, textarea{
        
        font-size: 8px;
    } 
    .mat-form-field {
        font-size: 8px;
    }
    //Estilo del boton
    .mat-button.mat-primary {
    font-size: 8px;
    width: 70%
    line-height 20px;
    }
}
@media(max-width: 1300px) and (min-width: 1000px){
    .contact-image {
        height: 43vh;
       
    }
    h4 {
        font-size: 17px;
        margin-bottom: 30px;
    } 
    input, textarea{
        
        font-size: 10px;
        
    } 
    .mat-form-field {
        font-size: 10px;
    } 
    .mat-button.mat-primary {
        font-size: 10px;
        width: 70%
        line-height 25px;
    }
}

