/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
    margin: 0;
    padding: 0;
}
/* Títulos*/ 
h1 {
    font-size: 50px;
    font-family: 'PoppinsLight', sans-serif;
}

h3 {
    font-size: 30px;
    font-family: 'PoppinsSemibold', sans-serif;
    margin: 0px;
}

//textos
.menu{

        font-size: 20px;
        font-family: 'PoppinsLight', sans-serif;

}

.general-text{
    font-size: 13px;
    font-family: 'PoppinsMedium', sans-serif;
}


//iconos
.icon-social-media{
    width: 30px;
}

//colores
.color-btn-background{
    background-color: #c1c1c1;
}

.color-gray-text{
color: #606060;
}

.color-white-txt{
    color: #ffffff;
}

.color-black-background{
    background-color: #151515;
}


//Importación de fuentes
@font-face {
    font-family: PoppinsLight;
    src: url('../src/assets/Fonts/Poppins-Light.ttf')
}

@font-face{
    font-family: PoppinsMedium;
    src: url('../src/assets/Fonts/Poppins-Medium.ttf');
}

@font-face{
    font-family: PoppinsSemibold;
    src: url('../src/assets/Fonts/Poppins-SemiBold.ttf')
}

// Responsive design- Media Queries
@media(max-width: 479px) and (min-width:320px){
    /* Títulos*/ 
      h1 {
          font-size: 30px;
      }  
      
      h3 {
          font-size: 13px;
      }  
      
      //textos
      .menu {
          font-size: 11px;
      }  
      .general-text {
          font-size: 6px;
      }  
      //iconos
  .icon-social-media{
      width: 20px;
  }
  }

@media(max-width: 749px) and (min-width:480px){
    /* Títulos*/ 
      h1 {
          font-size: 35px;
      }  
      
      h3 {
          font-size: 15px;
      }  
      
      //textos
      .menu {
          font-size: 12px;
      }  
      .general-text {
          font-size: 7px;
      }  
      //iconos
  .icon-social-media{
      width: 20px;
  }
  }

@media(max-width: 999px) and (min-width:750px){
  /* Títulos*/ 
    h1 {
        font-size: 40px;
    }  
    
    h3 {
        font-size: 20px;
    }  
    
    //textos
    .menu {
        font-size: 15px;
    }  
    .general-text {
        font-size: 8px;
    }  
    //iconos
.icon-social-media{
    width: 20px;
}
}

@media(max-width: 1300) and (min-width: 1000){
    /* Títulos*/ 
    h1 {
        font-size: 45px;
    }  
    
    h3 {
        font-size: 25px;
    }  
    
    //textos
    .menu {
        font-size: 17px;
    }  
    .general-text {
        font-size: 10px;
    }
    //iconos
    .icon-social-media{
    width: 25px;
}  
}